$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
nav {
  ul {
    .dropdown {
        background-color: wheat;
        padding-right: 30px !important;
    }
    li.active {

    }
  }
  
}
